<div>
    <div class="h-top" id="home">
        <div class="top-header">
            <ul class="cl-effect-16 top-nag">
                <li><a href="/Home/Logout" data-hover="LOGOUT">LOGOUT</a></li>
            </ul>
            <div class="search-box">
                <div class="b-search">
                    <form>
                        <input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
                        <input type="submit" value="">
                    </form>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
    <div class="full">
        <div class="col-md-3 top-nav">
            <div class="logo">
                <a href="#"><h1>Blogger</h1></a>
            </div>
            <div class="top-menu">
                <span class="menu"> </span>

                <ul class="cl-effect-16">
                    <li><a href="/Home/New" data-hover="Write Article">Write Article</a></li>
                    <li><a href="/Home/Index2" data-hover="Home">Home</a></li>
                    <li><a href="/Home/Favorites" data-hover="Favorites">Favorites</a></li>
                    <li><a href="/Home/MyArticles" data-hover="My Articles">My Articles</a></li>
                </ul>
                <!-- script-for-nav -->
                <script>
						$( "span.menu" ).click(function() {
						  $( ".top-menu ul" ).slideToggle(300, function() {
							// Animation complete.
						  });
						});
                </script>
                <!-- script-for-nav -->
            </div>
        </div>
        </div>
        <div class="col-md-9 main" style="padding:10px">
                    <div class="top-inner">
                        <div class="sign-up">
                            <h3 class="tittle reg">New Article</h3>
                            <form action="/Home/Save" method="POST" onsubmit="getTime()">
                                <h5>Title</h5>
                                <input type="text" name="title">
                                <textarea name="editor_content" id="myEditor"></textarea>
                                <input type="submit" value="Submit" />
                            </form>
                            <script>
                                function getTime(){
                                        var date = new Date();
                                        var d = date.getUTCDate();
                                        var day = (d < 10) ? '0' + d : d;
                                        var m = date.getUTCMonth() + 1;
                                        var month = (m < 10) ? '0' + m : m;
                                        var year = date.getUTCFullYear();
                                        var h = date.getUTCHours();
                                        var hour = (h < 10) ? '0' + h : h;
                                        var mi = date.getUTCMinutes();
                                        var minute = (mi < 10) ? '0' + mi : mi;
                                        var sc = date.getUTCSeconds();
                                        var second = (sc < 10) ? '0' + sc : sc;
                                        var loctime = month + day + hour + minute + year + "." + second;
                                        document.getElementById('localTime').value = loctime;
                                    }
                                new FroalaEditor('#myEditor', { toolbarInline: false })
                            </script>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
            </div>
            <a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
        </div>